main{
    padding: 0;
    margin:0;
}

#mtns{
    padding:0;
    position:relative;
    width: 100vw;
}

#subheader{
    text-align:justify !important;
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    line-height: 1.25;
    font-size:calc(12px + .5vw);
    padding-right: 5vw;
}

.para3{
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    font-size:calc(7px + .5vw);
    line-height: 1.5;
    margin-left: 0px;
}

h2{
   font-family: 'Poor Richard', serif;
   font-size:calc(8px + 2vw);
   line-height: .7;
}


#emailDiv{
    position:absolute;
    left: 06%;
    right: 40vw;
    z-index:1;
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    line-height: 1.25;
    font-size:calc(12px + .5vw);
}

#email, #name{
    width:80%;
}

#email_text{
    width:100%;
}

#contactMain{
      padding-left: 5%;
      padding-top:1%;
}

@media screen and (max-width: 1000px) {
#emailDiv{
    position:absolute;
    left: 06%;
    right: 5vw;
    z-index:1;
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    line-height: 1.25;
    font-size:calc(12px + .5vw);
}
}