main {
  padding: 1em 1em 105% 1em; /* bottom padding for footer */
}

#aboutHeader{
   font-family: 'Poor Richard', serif;
   font-size:calc(15px + 2.5vw);
   line-height: .7;
   padding-bottom: 10px;
}

#subheader{
    text-align:justify !important;
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    line-height: 1.25;
    font-size:calc(12px + .5vw);
    padding-right: 5vw;
}

#bMask{
    width: 15vw;
    padding-left: 20px
}

.aboutMePara{
    font-family: 'Tw Cen MT', sans-serif;
    font-weight: 500;
    font-size:calc(12px + .3vw);
    line-height: 1.5;
    margin-left: 20px;
    margin-bottom: 0%;
}

.para3{
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 500;
    font-size:calc(7px + .7vw);
    line-height: 1.5;
    margin-left: 0px;
}

#lineBreak{
    border-bottom: 4px solid #4E7294;
    margin-right: 50%;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

#lineBreakLong{
    border-bottom: 4px solid #4E7294;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

h3{
    font-family: 'Dancing Script', serif;
    font-size:calc(8px + 2vw);
    line-height: .7;
    color: #4E7294 !important;
    margin-left: 20px;

}

.bluePara{
    color: #4E7294;
    font-weight: 700;
}

#hello{
    font-family: 'Dancing Script', serif;
    font-size:calc(8px + 2.5vw);
    color: #4E7294 !important;
}

h2{
   font-family: 'Poor Richard', serif;
   font-size:calc(8px + 2vw);
   line-height: .7;
}

.splitleft {
    padding-top:15px;
    padding-left: 0px;
    width: 25%;
    position: absolute;
    overflow-x: hidden;
    top:10%;
    left: 0%;
}

.splitright{
    text-align:justify;
    width: 75%;
    position: absolute;
    overflow-x: hidden;
    left: 24%;
}

.photos{
    width: 17.2vw;
}

@media screen and (max-width: 1000px) {
.splitleft {
    left: 0%;
    right: 0%;
    top:5%;
    width: 95%;
    position: relative;
    overflow-x: hidden;
    padding-top:0px;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 5px;
}

.splitright{
    text-align:justify;
    position: relative;
    overflow-x: hidden;
    width: 95%;
    left: 0%;
    right: 0%;
    top:5%;
}

.splitright .para3{
    text-align:center;
}

#bMask{
    width: 40vw;
    margin-left: 3vw;
    }

#aboutHeader{
    padding-left: 10vw;
}

#lineBreak{
    border-bottom: 4px solid white;
    margin-left: 20vw;
    margin-bottom: 5px;
    margin-bottom: 5px;
    margin-right: 10vw;
}

.photos{
    width: 80%;
    padding-left: 20vw;
    padding-top: 10px;
}

}
