.navList{
    font-size:20px; !important
}

h1
{
   font-family: 'Open Sans', sans-serif;
   font-size:calc(40px + 3vw);

}

p1
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:calc(20px + 2vw);

}

p2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:calc(15px + .5vw);;
}

.blackBackground{
    background-color: black;
    padding:calc(10px + 1.5vw);
    box-shadow: 10px 10px 5px black;
}

body
{
    color: white;
    text-align: center;
    background-image: url('Images/wood-black.jpg');
    background-position: center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}

img
{
    image-orientation: from-image;
}
.centered{
    position:absolute;
    left: 40%;
    transform: translate(-28%, 10%);
}

@media screen and (max-width: 600px) {
    .centered {
        position: absolute;
        text-align: center;
        transform: translate(-30%, 0%);
    }
}

.standardCenter{
    position:absolute;
    left: 10%;
    right: 10%;
}

.rightCenter{
    position:absolute;
    left: 30%;
    right: 5%;
}

.botRight
{
    position:absolute;
    bottom:2%;
    left: 50%;
    right: 2%;
    color: white;
    font-style:italic;
    font-size:calc(10px + .5vw);

}

@media screen and (max-width: 600px) {
    .botRight
{
    position:absolute;
    bottom:0%;
    left: 10%;
    right: 0%;
    color: white;
    font-style:italic;
    font-size:calc(13px + .5vw);

}

}

.botLeft{
    width: 10px;
    position:fixed;
    bottom:0;
    left:0;
}

#photos{
    position:absolute;
    top:20%;
    left:1%;
    width:25vw;
}

.parent{
    position: relative;
    height: 90vh;
    width: 100%;
    bottom:15%;

}

form {
  position:relative;
  width: 65%;
  top:0%;
  margin: auto;
  margin-top: 30px;

}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  background: #888;
  color: white;
}
form label {
  margin-bottom: 2px;
  display: block;
}
form:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 100%;
  right: 3px;

  text-shadow: 1px 1px white;
  font-size: 11px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  margin-top: -100px;
  transition: all .3s;
}
form.emailjs-success:after,
form.emailjs-sending:after,
form.emailjs-error:after {
  margin-top: 0;
  transition: all .3s;
}
form.emailjs-sending:after {
  content: 'Sending email...';
  background: #eee;
}
form.emailjs-success:after {
  content: 'Email sent!';
  background: #1B5E20;
  color: white;
  text-shadow: -1px -1px black;
}
form.emailjs-error:after {
  content: 'Error sending email';
  background: #B71C1C;
  color: white;
  text-shadow: -1px -1px black;
}