@font-face {
  font-family: "Tw Cen MT";
  src: url("9b62dc86f936227b3f7b367bd0b6c05e.eot"); /* IE9*/
  src: url("9b62dc86f936227b3f7b367bd0b6c05e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("9b62dc86f936227b3f7b367bd0b6c05e.woff2") format("woff2"), /* chrome、firefox */
  url("9b62dc86f936227b3f7b367bd0b6c05e.woff") format("woff"), /* chrome、firefox */
  url("9b62dc86f936227b3f7b367bd0b6c05e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("9b62dc86f936227b3f7b367bd0b6c05e.svg#Tw Cen MT") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Poor Richard";
  src: url("1333b13c4f911f3160f1c2822573f70c.eot"); /* IE9*/
  src: url("1333b13c4f911f3160f1c2822573f70c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("1333b13c4f911f3160f1c2822573f70c.woff2") format("woff2"), /* chrome、firefox */
  url("1333b13c4f911f3160f1c2822573f70c.woff") format("woff"), /* chrome、firefox */
  url("1333b13c4f911f3160f1c2822573f70c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("1333b13c4f911f3160f1c2822573f70c.svg#Poor Richard") format("svg"); /* iOS 4.1- */
}

.nav-link{
    font-family: 'Tw Cen MT', sans-serif;
    color: #7C81A9 !important;
    font-size:25px !important;
    padding-top:20px;
    padding-bottom:0px;
}

.navbar{
    background-color:black !important;
}

.nav-link:hover{
    color: white !important;
}

h1
{
   font-family: 'Poor Richard', serif;
   font-size:calc(40px + 3vw);
   line-height: .7;
   padding-bottom: 10px;
}

p1
{
    font-family: 'Tw Cen MT', sans-serif;
    color: #4E7294 !important;
    font-weight: 700;
    line-height: 1;
    font-size:calc(18px + 1.3vw);
}


.blackBackground{
    background-color: white;
    padding:calc(10px + 1.5vw);
    box-shadow: 10px 10px 5px black;
}

body
{
    text-align: left;
    background-position: center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img
{
    image-orientation: from-image;
}

.centered{
    position:absolute;
    left: 20%;
    transform: translate(0%, 10%);
}

@media screen and (max-width: 600px) {
    .centered {
        position: absolute;
        text-align: left;
        transform: translate(0%, 0%);
    }
}

.rightCenter{
    position:absolute;
    left: 30%;
    right: 5%;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .rightCenter {
        position: absolute;
        left: 5%;
        right: 5%
        text-align: justify;
    }
}

.botLeft{
    width: 10px;
    position:fixed;
    bottom:20px;
    left:0;
}

#contain_footer {
  position: relative; /* needed for footer positioning*/
  margin: 0 auto; /* center, not in IE5 */
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  min-height: 100%; /* real browsers */
}

footer {
  position: absolute;
  bottom: 0; /* stick to bottom */
  right: 2%;
  left: 55%;
  bottom: 10px;
}
.botRight
{
    text-align:justify;
    text-align-last: center;
    font-family: 'Tw Cen MT', sans-serif;
    color: #7C81A9;
    font-style:italic;
    font-size:calc(10px + .7vw);
    font-weight: 500;
}


main {
  padding: 1em 1em 85vh 1em; /* bottom padding for footer */
}

@media screen and (max-width: 1000px) {
    .botRight
    {
    font-size:calc(13px + .7vw);
    color: white;
    }

    footer {
      position: absolute;
      right: 15%;
      left: 15%;

    }

    main {
      padding: 1em 1em 65vh 1em; /* bottom padding for footer */
    }
}

