{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
     <div style="position: relative;">
         <div class="standardCenter">
             <h1>Contact</h1>
             <br>
             <p2>If you have any questions, comments, or would like to reach out for any other reason you can email me or use the form on this page.</p2>

            <div>
            <form action="/contact" method="post">
                <label>Your Name</label>
                <input  class="email" type="text" name="from_name" required/>
                <label>Email Address</label>
                <input  class="email" type="email" name="from_email" required/>
                <label>Questions/Comments</label>
                <textarea  id="email_text" rows="5" type="text" name="message_text" required> </textarea>

                <br><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            </div>
         </div>
     </div>
{% endblock %}