{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<link href="../static/contact.css" rel="stylesheet">
        <img id="mtns" src="/static/Images/mtnlong.jpg" alt="Mountains">
        <div id="contactMain">
             <h1>Contact Brendan Kenny</h1>
             <br>
            <div id="emailDiv">
                <form action="/contact" method="post" autocomplete="on">
                    <label>Your Name</label>
                    <br>
                    <input   id="name" type="text" name="fname" required/>
                    <br>
                     <br>
                    <label>Email Address</label>
                    <br>
                    <input id="email" type="email" name="email" required/>
                    <br>
                     <br>
                    <label>Questions/Comments</label>
                    <br>
                    <textarea  id="email_text" rows="5" type="text" name="message_text" required> </textarea>
                    <br><br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
    </div>
{% endblock %}