{% extends "layout.html" %}

{% block title %}
    Brendan Kenny
{% endblock %}

{% block main %}
    <style>
        body{
            background-image: url('static/Images/mtn.jpg');
            color:black;
        }
    </style>
    <div style="position: relative;">
        <div class="centered" >
            <h1>Brendan Kenny</h1>
            <br>
            <p1 style="color: white">Continuously Improving <br>Results Driven <br>Endlessly Curious <br>Lifelong Learner</p1>

        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="botRight">
            "Mr. Brendan Kenny upholds the highest tenets of ethics and moral behavior as a person...
            He would be an excellent candidate for any program... He has a quick learning curve and accepts
            constructive feedback with the mindset of 'yes, I can do better'." - Former Employer
    </div>
{% endblock %}

