{% extends "layout.html" %}

{% block title %}
    Brendan Kenny
{% endblock %}

{% block main %}
        <div class="centered" >
            <h1>Brendan Kenny</h1>
            <br><br>
            <p1 style="font-size:2vw";>Continuously Self Improving <br>Driven by Results <br>Endlessly Curious <br>Lifelong Learner</p1>
        </div>

        <div class="botRight" style="font-size:1.4vw">
            "Mr. Brendan Kenny upholds the highest tenets of ethics and moral behavior as a person...
            He would be an excellent candidate for any program... He has a quick learning curve and accepts
            constructive feedback with the mindset of 'yes, I can do better'." - Former Employer
        </div>
        <div class=parent>
                <div class=botLeft>
                    <a href="https://www.linkedin.com/in/brendan-kenny-46106013b/" target="_blank">
                        <img src="/static/Images/linkedin-icon_24x24.png" alt="twitter" >
                    </a>
                    <p></p>
                    <a href="https://github.com/kennbp31" target="_blank">
                        <img src="/static/Images/github.png" alt="github" height="20">
                    </a>
                    <p></p>
                    <a target="_top" href="mailto:kennbp31@gmail.com" target="_blank">
                        <img src="/static/Images/gmail.png" alt="Email"  width="100%" height="100%">
                    </a>
                </div>
            </div>
{% endblock %}
