{% extends "layout.html" %}

{% block title %}
    Resume
{% endblock %}

{% block main %}
    <div style="position: relative;">
    <div class="standardCenter">
                <h1>Resume</h1>
                <p1>Driven and motivated professional with a diverse skill set.</p1><br>
                <p2><ul>
                    <br>
                    <li>Self Taught Developer</li>
                    <li>Software Support Technician</li>
                    <li>Professional Educator</li>
                </p2></ul>
                <img src="/static/Images/Resume.jpg" alt="Brendan Resume" style="width: 100%; height: 100%; padding-left:5%;">
            </div>
    </div>

{% endblock %}
