{% extends "layout.html" %}

{% block title %}
    Resume
{% endblock %}

{% block main %}
<link href="../static/resume.css" rel="stylesheet">
    <div id="parent">
        <div class="splitleft">
                <h1>Brendan Kenny</h1>
            <div id="subheader">
                <p2>Driven and motivated professional with a  diverse skill set gained from seven years
                    experiences as a software support technician and three years as an educator.
                </p2>
            </div>

                <br><br>
                <h2>Skills</h2>
                <table>
                    <tr>
                        <td>Proficient using JavaScript, NodeJS, ElectronJS <br> SQL, HTML, CSS, Flask and Python. <br> Intermediate in C, C# <br>Call Center Experience <br> Empathetic and Supportive Strong Troubleshooter </td>
                        <td> Cross Team Communication Customer Training <br>QA/Product Testing<br> Webinar Presentations Account Management <br>Client Ticketing Systems <br>Microsoft Office</td>
                        <td>Documentation Management <br>Authoring User Guides<br> Creating Knowledge Base <br>Remote Environments <br>&nbsp;</td>
                    </tr>
                </table>
                <br>
                <h2>Education</h2>
                <div class="para3">
                    <p3>
                        &nbsp;2019: East Carolina University • NC Teacher Licensure • 4.0 GPA
                        <br>
                        &nbsp;2008: State University of New York at Oneonta • Bachelor of Arts in Music Business
                    </p3>
                </div>
                <br>
                <h2>Professional Work Experience</h2>
                <div id="workExp">
                    <ul>
                        <b>2017-Present: Social Studies Teacher - Hillside High School, Durham NC</b>
                        <li>Team Lead: American History 1 and for the 2019/2020 school year.</li>
                        <li>Excellence in working in an environment that demands extensive multi-tasking and issue prioritization.</li>
                        <li>Three years teaching in a high poverty/urban school district with measurable growth and success.</li>
                        <li>Classroom manager, focusing on the strengths of all students and fostering powerful relationships based on mutual respect and responsibility</li>
                    <br>
                        <b>2015 – 2017: Software Support Analyst / Business Consultant– Farragut Systems, Durham NC</b>
                        <li>Triaging, assigning, and prioritizing all incoming tickets to support staff.</li>
                        <li>Holding weekly meetings with clients to ensure needs are met and high NPS scores are communicated.</li>
                        <li>Working strategically to reduce support ticket backlog</li>
                        <li>Ensuring that solutions are appropriately documented working to build a strong knowledge base.</li>
                        <li>Leading daily team meetings identifying successes, challenges, and priorities.</li>
                        <li>Single point of contact for new client implementations and onboarding.</li>
                        <li>Solving complex issues for users, utilizing skills and knowledge of other team members as necessary.</li>
                        <li>Proficient with Microsoft SQL, authoring complex scripts to offer business solutions and data repair as needed.</li>
                        <li>Adult education specialist making frequent visits to train our clients across the state.</li>
                        <li>Documentation Management and authoring training materials</li>
                        <li>Lead lecturer at client conferences, teaching better business practices and encouraging active discussion between large groups of users from different offices.</li>
                        <li>Property Tax Business Consultant, performing analysis of property tax collection practices, identifying areas of improvement, and offering action plans to increase county collection rates. </li>
                        <li>Experience with the QA ensuring stable releases</li>
                        <br>
                        <b>2010 – 2015:  Technical Support / Large Accounts Manager – Syrasoft LLC, Baldwinsville NY</b>
                        <li>Troubleshoot client issues and concerns remotely in a call center environment</li>
                        <li>Use of SQL and Microsoft Access to troubleshoot and repair database issues.</li>
                        <li>Daily Use of Microsoft CRM to manage client needs and information.</li>
                        <li>Train customers on the daily operation of software.</li>
                        <li>Coordinate software releases and act as the single point of contact for our large accounts</li>
                        <li>QA and testing each release prior to distribution</li>

                    </ul>
            </div>
        </div>
        <div class="splitright">
            <img id="bMask" src="/static/Images/Brendan_Mask.jpg" alt="Brendan Kenny Photo">
            <br>
            <div class="para3">
                <p3>
                    315-403-4642
                    <br>401 Valley Glen Dr
                    <br>Morrisville, NC 27560
                </p3>
            </div>
            <br>
            <br>
            <h2>Achievements</h2>
            <div class="para3">
                <p3 class="para3">
                    <b>Promotion:</b> Large Accounts Manager, Syrasoft LLC
                    <br><br><b>Award:</b> Recognized as the Beginner Teacher of the Month during both the 2017/18 and 2018/19 school year
                </p3>
            </div>
        </div>
    </div>
{% endblock %}
